body {
  margin: 10%;
  background-color: yellow;
}

.notepad {
  background-color: whitesmoke;
  margin: 1rem;
}

.title {
  text-align: center;
}
ul {
  list-style-type: none;
}

li {
  border-bottom-style: solid;
  border-bottom-color: grey;
  font-family: sans-serif;
  font-size: large;
  text-transform: uppercase;
}

.checkbox-list {
  margin-right: 1rem;
}
.label-text {
  margin: 0 2rem;
}
.done {
  color: red;
  text-decoration: line-through;
}
